# python==3.10.16
# streamlit==1.42.2
# tensorflow==2.10.1
# imageio==2.23.0 
# protobuf==3.20.3
streamlit
tensorflow
imageio
protobuf
opencv-python
opencv-python-headless
matplotlib
moviepy==1.0.3
libgl1-mesa-glx
